page-einstellungen {



  .nameApp{

    font-size: 700%;
    text-align: center;
    font-weight: inherit;
    color: #488aff;

  }
  .submit{

    font-size: medium;
    text-align: center;

  }


}

